.ContainerContentMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0 6% 0;
  position: relative;

  h1, p {
    font-family: 'Popins', sans-serif;
    color: #fff;
  }

  h1 {
    font-size: 118px;
    font-weight: 700;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: #4a90e2;
      bottom: 29px;
      border-radius: 50px;
      margin-left: 5px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
}
