.ContainerFooter {
  border-top: 1px solid #e6e6e6;;
  height: 100px;

  p {
    padding: 10px 0 0 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #908C8C;
    opacity: 0.55;
  }
}