.Button {
  height: 51px;
  width: 123px;
  background-color: #4a90e2;
  border-radius: 5px;
  border: none;
  margin-top: 4%;

  a {
    color: #fff;
    font-family: 'Popins', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
}
